table.iksweb {
    text-decoration: none;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

table.iksweb th {
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
}

table.iksweb td {
    font-size: 11px;
    color: #354251;
}

table.iksweb td,
table.iksweb th {
    white-space: pre-wrap;
    padding: 11px 6px;
    line-height: 9px;
    vertical-align: middle;
    border: 1px solid #000000;
}

table.iksweb tr:hover {
    background-color: #969696
}

table.iksweb tr:hover td {
    color: #000000;
    cursor: default;
}
